[submodule "util/har-tools"]
	path = util/har-tools
	url = https://github.com/imheresamir/har-tools.git
[submodule "util/pyomxplayer"]
	path = util/pyomxplayer
	url = https://github.com/imheresamir/pyomxplayer.git
[submodule "util/browsermob-proxy"]
	path = util/browsermob-proxy
	url = https://github.com/lightbody/browsermob-proxy.git
